.vape {
    animation-name: vape;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    /* animation-timing-function: linear; */
    animation-timing-function: ease-in;
}

@keyframes vape {
    from {
        opacity: 0.8;
    }
    
    50% {
        opacity: 1;
    }

    to {
        opacity: 0.8;
    }
}