@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
}

html, body, input, button {
  font-size: 16px;
  font-family: Montserrat, sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh; /** to support file-drop anywhere in the page */

  background-color: #FBAB7E;
  background-image: linear-gradient(90deg, #FBAB7E 0%, #F7CE68 100%);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clickable {
  cursor: pointer;
}
