.lang-selector-wrapper {
    display: flex;
    border: 1px solid #eee;
    border-radius: 3px;
}

.lang-selector-wrapper > .lang-selector-option:not(:first-child) {
    border-left: 1px solid #eee;
}

.lang-selector-option {
    padding: 10px 15px;
    min-width: 40px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color .5s;
    cursor: pointer;
}
.lang-selector-option:hover {
    background-color: #e4e4e4;
}
.lang-selector-option:active {
    background-color: #adadad;
}
.lang-selector-option.selected {
    background-color: #e4e4e4;
}